<form id="form_changepassword" action="{{ path('heliosblog_change_password', {'blogid': blog.id, 'blog': app.request.attributes.get('blog')}) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.current_password) }}

        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" />

</form>