{# S'il y a une erreur, on l'affiche dans un joli cadre #}
{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}

<div class="well sidebar-nav padding5 padding-left10">
    <ul class="nav nav-list">
        <li class="nav-header">Change Password</li>
    </ul>
    {# Le formulaire est exactement le même que dans "login", seul la présentation diffère un peu,
       On ne met pas de label aux champs, mais des placeholders #}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>
</div>